:global {
  .shade1 {
    background-color: #2E3145;
  }
  .shade2 {
    background-color: #444964;
  }
  .shade3 {
    background-color: #A5A8B6;
  }
  .shade4 {
    background-color: #D2D5E8;
  }
  .shade5 {
    background-color: #EAECF4;
  }
}